@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --heading-font: "Playfair Display", Arial, sans-serif;
    --paragraph-font: "Playfair Display", Arial, serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

#content{
    max-width: 1600px;
    margin: 0 auto; /* Set the website content centered*/
}

body{
    background-color: white;
    font-size: 17px;
    font-family: var(--paragraph-font);
    margin: 0;
    padding: 0;
}

.button{
    font-family: "Playfair Display", Arial, serif;
}

header{
    background-color:#0a0c0b;
    color: white;
    display: grid;
    grid-template-columns: 100px auto;
    max-height: 100px;
}

.home-grid{
    display: grid;
    grid-template-columns: 20px 1fr 1fr 1fr 20px;
    gap: 20px;
}

#logo{
    width: 100px;
    margin-left: 10%;
}

#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a{
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
    font-size: 1.25em;
}

nav a:hover{
    text-align: center;
    color: black;
    background-color: rgb(201, 201, 201);
    transition: 0.3s;
}

nav span{
    font-size: 1em;
    cursor: pointer;
    line-height: normal;
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-weight: bold;
  font-size: 36px;
  color: #ececec;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #000000;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

.hero-img{
    width: 100%;
    max-height: 700px;
}

.more{
    background-color: #746360;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin: 50px 10px;
    border-radius: 5px;
    z-index: 1;
}

.more:hover{
    background-color: #C9ADA7;
    color: black;
}

.tips{
    background-color: #F4FAFC;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin: 50px 10px;
    border-radius: 5px;
}

.tips:hover{
    background-color: #C9ADA7;
    color: white;
}

#home-hero-msg {
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 800px;
    position: absolute;
    top: -575px;  /* Adjust this value to move the title up or down */
    width: 100%;
    z-index: 1;  /* This ensures the text appears above the image */
}

#home-hero-msg h1{
    margin-bottom: 0;
}

#home-hero-msg h2{
    margin-top: 10px;
    color: #3a352b;
    font-weight: bold;
}

#white-title{
    color: white;
}

.hero-button-box{
    margin: 20px; 
    padding: 40px;  
}

main{
    margin: 0 auto;
    width: 90%;
}

h1{
    text-align: center;
    font-size: 3em;
}

h2{
    font-size: 1.5em;
    text-align: center;
    margin: 0;
}

h4{
    text-align: center;
    color: black;
}

#struggle img{
    max-height: 32px;
}

#struggle-title{
    grid-column: 2/5;
    font-size: 2.5em;
    margin: 35px;
}

#struggle1{
    grid-column: 2/3;
    padding: 20px;
}

#struggle1 h3{
    font-size: 1.5em;
}

.struggle1-text{
    text-align: left;
}

#struggle2{
    padding: 20px;
}

#struggle2 h3{
    font-size: 1.5em;
}

.struggle2-text{
    text-align: left;
}

#struggle3{
    padding: 20px;
}

#struggle3 h3{
    font-size: 1.5em;
}

.struggle3-text{
    text-align: left;
}

#FAQdropdown{
    margin: 5em auto;
}

#FAQdropdown h2{
    font-size: 2.5em;
    margin: 1em auto;
}

.accordion{
    margin: 2px auto;
    background-color: rgb(248, 242, 235);
    padding: 1.5rem; /*rem: page-wise, em: container-wise  */
    width: 80%; /* width of accordion, it's 80% of it's upper label, for example,  main or body. Change the % to make the arrow aligned with the text */
    cursor: pointer;
    color: black;
    border: none;
    text-align: center;
    font-size: 1em;
    outline: none;
    transition: 0.5s;
    display: block;
}   

.active, .accordion:hover{
    font-weight: 600;
}

.panel{
    margin: 0 auto;
    max-height: 0;
    overflow: hidden;
    width: 100%;
    transition: max-height 0.2s ease-out;   
}

.panel h1{
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.panel p{
    margin: 0 auto;
    padding: 0 5em;
    text-align: left;
}

.panel a{
    font-style: normal;
}

.panel-more{
    text-align: center;
}

.accordion::after{
    content: '>';
    float: right;
    margin-left: 5px; /* to get this symbol aligned with the text */
    font-weight: bold;

}

.active::after{
    content: '\2228';
}

.assistance{
    padding: 20px;
    grid-column: 3/4;
    grid-row: 1/4;
    display: block;
}

.assistance{
    padding: 20px;
    grid-column: 2/3;
    grid-row: 1/4;
    display: block;
}

.about-us{
    padding: 20px;
    grid-column: 3/4;
    grid-row: 1/4;
    display: block;
}

.contact-us{
    padding: 20px;
    grid-column: 4/5;
    grid-row: 1/4;
    display: block; 
}

#bottom-nav{
    display: grid;
    grid-template-columns: 10px repeat(3, 1fr) 10px;
}

#bottom-nav a{
    color: black;
    padding: 3px;
    list-style-type: none;
    margin: 0 auto;
}

#bottome-nav li{
    list-style-type: none; 
    margin: 0 auto;
}

#bottom-nav a:hover{
    color: white;
    background-color: #C9ADA7;
    padding: 3px;
    transition: 0.5s ease-out;   
}

#navtextbold-assistance{
    font-weight: bold;
    grid-column: 2/3;
}

#navtextbold-aboutus{
    font-weight: bold;
    grid-column: 3/4;
}

#navtextbold-contactus{
    font-weight: bold;
    grid-column: 4/5;
}

.navtextnormal{
    list-style-type: none;  
}

footer li{
    list-style-type: none;
    padding: .8em;
}

#bottom-copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#copyright{
    margin: 0;
    text-align: left;
}

#bottom-social-media{
    display: flex;
    gap: 10px;
    align-items: center;
}

#bottom-social-media img{
    width: 40px;
}

/*  */
/* Assistance Page styles */
/*  */

.assistance-grid{
    display: grid;
    grid-template-columns: 10px 1fr 1fr 10px;
    gap: 20px;
}

.assistance-grid img{
    max-width: 650px;
    max-height: 500px;
}

.assistance-grid h2{
    font-size: 2em;
    margin-top: 10%;
}

#assistance-title{
    grid-column: 2/4;
    text-align: center;
    font-size: 2.5em;
    margin: 3% auto 0;
}

.category-title{
    font-size: 2em;
    margin: 5% auto 2%; 
}

.finance-card{
    text-align: center;
    margin: 0 auto;
    width: 45%; 
    justify-content: center;    
}

.assistance-more{
    background-color: #ffffff;
    color: rgb(52, 52, 52);
    text-decoration: none;
    font-size: 1em;
    padding: 15px 30px;
    margin: 50px 10px;
    border-radius: 5px;
    z-index: 1;
}

.assistance-more:hover{
    background-color:rgb(52, 52, 52);
    color: white;
}

#finance-assistance-chunk{
    font-size: 1rem;
    grid-column: 2/3;
}

.assistance-finance-button-box{
    text-align: center;
    position: relative;     
    top: -225px;
    left: -25px;
    min-height: 0px;
    z-index: 1;
}

.assistance-career-button-box{
    text-align: center;
    position: relative;     
    top: -225px;
    left: -25px;
    min-height: 0px;
    z-index: 1;
}

.assistance-academic-button-box{
    text-align: center;
    position: relative;     
    top: -225px;
    left: -25px;
    min-height: 0px;
    z-index: 1;
}

.assistance-living-button-box{
    text-align: center;
    position: relative;     
    top: -225px;
    left: -25px;
    min-height: 0px;
    z-index: 1;
}

#career-assistance-chunk{
    grid-column: 3/4;
}

#academic-assistance-chunk{
    grid-column: 2/3;
}

#living-assistance-chunk{
    grid-column: 3/4;
}

#witness1{
    grid-column: 2/3;
    text-align: center;
    margin-bottom: 7%;
}

#witness2{
    grid-column: 3/4;
    text-align: center;
    margin-bottom: 7%;
}

.witness-photo{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10% auto 5%;
}

.witness-text{
    max-width: 85%;
    margin: 0 auto;
}

/*  */
/* about us page styles */
/*  */

#aboutus-hero-msg {
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 800px;
    position: absolute;
    top: -600px;  /* Adjust this value to move the title up or down */
    width: 100%;
    z-index: 1;  /* This ensures the text appears above the image */
}

.aboutus-button-box{
    margin: 20px; 
    padding: 40px; 
}

.aboutus-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 8% auto 5%;
}

.aboutus-grid h3{
    margin: 0;
    font-style: italic;
}

.aboutus-grid p{
    font-size: 1.2em;
}

.mission-img{
    width: 2.3em; 
    background-color: #ffefda;
    margin-top: 23%;
    border-radius: 10%;
}


.aboutus-introduction{
    grid-column: 1/2;
    grid-row: 1/4;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 20% 5% 0 0;
}

.aboutus-introduction h2{
    font-size: 3em;
    font-style: italic;
}

.aboutus-introduction p{
    font-size: 1.5em;
}

.about-mission1{
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: left;
    display: grid;
    grid-template-columns: 10% 1fr;
    margin: 5% auto;
    background-color: white;
}

.about-mission2{
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: left;
    display: grid;
    grid-template-columns: 10% 1fr;
    margin: 5% auto;
}

.about-mission3{
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: left;
    display: grid;
    grid-template-columns: 10% 1fr; 
    margin: 5% auto;    
}

#witness3{
    width: 90%;
    grid-column: 1/2;
    text-align: center;
    margin-bottom: 7%;
    margin: 10% auto 5%;
    background-color: #f4f2cf;
}

#witness4{
    width: 90%;
    grid-column: 2/3;
    text-align: center;
    margin-bottom: 7%;
    margin: 10% auto 5%;
    background-color: #e0d2ce;
}

form {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
  }
  
  h1 {
    margin: 0 0 30px 0;
    text-align: center;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  textarea,
  select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 95%;
    background-color: #e8eeef;
    color: #000000;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    margin: 0 4px 8px 0;
  }
  
  select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
  }
  
  button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #337a00;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #337a00;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
  }
  
  fieldset {
    margin-bottom: 30px;
    border: none;
  }
  
  legend {
    font-size: 1.4em;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  label.light {
    font-weight: 300;
    display: inline;
  }
  
  .number {
    background-color: #337a00;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
  }
  
@media screen and (min-width: 480px) {
  
    form {
      max-width: 480px;
    }
  
  }

.aboutus-join-form h2{
    margin: 3% auto 5%;
    font-size: 2em;
}

.aboutus-join-form h3{
    text-align: center;
    font-size: 1.5em;
    margin: 5% auto 7%;
}

.aboutus-join-form p{
    text-align: center;
    margin: 5% auto 3%;
}
